{
  "parser": "@typescript-eslint/parser", 
  "extends": [
    "plugin:@typescript-eslint/recommended", 
    "prettier/@typescript-eslint", 
    "plugin:prettier/recommended" 
  ],
  "parserOptions": {
    "ecmaVersion": 2018, 
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/camelcase": "warn",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-var-requires": "error",
    "no-unused-expressions": "off"
  }
}